experiment_name: pid_delta_tuning-recurrent
seed: 1

env:
  _include: {CONFIGS_DIR}/envs/pid_delta_tuning_recurrent

training:
  train_start_step: 2500
  sync_start_step: 2500
  num_steps: -1
  exploration_steps: 3000
  log_frequency: 1
  log_dir: "train_logs"
  log_file: train.log

collector:
  _include: "{CONFIGS_DIR}/collectors/async"

validation:
  _include: "{CONFIGS_DIR}/common/validation_none"

testing:
  _include: "{CONFIGS_DIR}/common/testing_none"

buffer:
  _include: "{CONFIGS_DIR}/buffers/10k"

sampler:
  _include: "{CONFIGS_DIR}/samplers/sequence"

network:
  _include: "{CONFIGS_DIR}/networks/lstm_64_2"

updater:
  _include: "{CONFIGS_DIR}/updaters/td3_default"
